<div class="row">
  <div class="col col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading inline-block">
        <h2>Edit List</h2>
      </div>
      <div class="panel-body">
        <div class="input-group">
        <%= simple_form_for @list, method: "patch" do |f| %>
          <%= f.input :title %>
          <%= f.submit %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
