<div class="row">
  <div class="col col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading inline-block">
        <h2><%= link_to @list.title, edit_list_path(@list) %>
        <span class="pull-right">
        <%= link_to "Add Task", new_list_task_path(@list.id),
          class: "btn btn-primary form-inline pull-right" %>
        </span>
        <span class="pull-right">
          <%= button_to 'Move List to Archive', archive_list_path(@list.id, archived: true), method: "put", class: "btn btn-default" %></h2>
        </span>
      </div>
      <%= render partial: "active_tasks", locals: { list: @list } %>
    </div>
  </div>
</div>
