<div class="row">
  <div class="col col-sm-6 col-sm-offset-3">
    <h2>Edit Your Stuff</h2>
  </div>
</div>
<div class="row">
  <div class="col col-sm-6 col-sm-offset-3">
    <div class="well">
      <%= render partial: "form" %>
    </div>
  </div>
</div>

