<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Create your first list!</h1>
      <%= render partial: "new_list_form" %>
    </div>
  </div>
</div>
