<div class="well">
  <div class="text-center">
    <span class="list-group-item active form-inline">
      <%= form_tag "/lists", method: "post" do %>
        <%= text_field_tag :title, nil, placeholder: "List title", class: "form-control" %>
      <%= submit_tag "Submit", name: nil, class: "btn" %>
    <% end %>
    </span>
  </div>
</div>

